.dialog-pane {
  -fx-pref-width: $sisWidthDialogPane;
  -fx-pref-height: $sisHeightDialogPane;
  -fx-background-color: $sisColor_transparent;

  .header-panel {
    -fx-background-color: $sisColor_transparent;
    .label {
      -fx-text-fill: $sisColor_white;
      -fx-font-size: $fontSizeh4;
      -fx-font-weight: bold;
      -fx-font-style: italic;
    }
  }

  .content {
    &.label {
      -fx-text-fill: $sisColor_black;
      -fx-font-size: $fontSizeh5;
      -fx-font-weight: bold;
    }

  }

  .button-bar {
    -fx-background-color: $sisColor_transparent;
  }

  &.yes_no {
    -fx-pref-width: $sisWidthDialogPane_YES_NO;
    -fx-pref-height: $sisHeightDialogPane_YES_NO;
    -fx-background-image: url($painelDialogPane_YES_NO);
  }

  &.dialog-pane-transparent {
    -fx-pref-width: $sisWidthDialogPane_Loading;
    -fx-pref-height: $sisHeightDialogPane_Loading;
    -fx-background-color: $corPricipalTransparencia;
    .label {
      &.msg {
        -fx-wrap-text: true;
        -fx-padding: 15 0 0 0;
        -fx-alignment: center-left;
        -fx-pref-width: ($sisWidthDialogPane_Loading - 15);
        -fx-text-fill: $corPricipal;
        -fx-opacity: 0.8;
        -fx-font-size: $fontSizeh5;
        -fx-font-weight: bold;
      }
    }
    .progress-bar {
      -fx-pref-width: ($sisWidthDialogPane_Loading - 20);
      //-fx-pref-height: 40;
      //-fx-padding: 5 0;
    }
  }
}

