.dialog-pane {
  -fx-pref-width: $sisWidthDialogPane;
  -fx-pref-height: $sisHeightDialogPane;
  -fx-background-color: $sisColor_transparent;
  -fx-background-image: url($painelDialogPane);

  .header-panel {
    -fx-background-color: $sisColor_transparent;
    .label {
      -fx-text-fill: $sisColor_white;
      -fx-font-size: $fontSizeh4;
      -fx-font-weight: bold;
      -fx-font-style: italic;
    }
  }
  .content {
    &.label {
      -fx-text-fill: $sisColor_black;
      -fx-font-size: $fontSizeh5;
      -fx-font-weight: bold;
    }

    //.jfx-text-area {
    //  -fx-font-family: monospace;
    //  -fx-font-style: normal;
    //  -fx-text-fill: $sisColor_black;
    //  -fx-font-size: $fontSizeh6;
    //
    //  -jfx-focus-color: $sisColor_transparent;
    //  -jfx-unfocus-color: $sisColor_transparent;
    //  -jfx-label-float: true;
    //}

    //.jfx-combo-box {
    //  -fx-font-family: sans-serif;
    //  -fx-font-style: normal;
    //  -fx-text-fill: $sisColor_black;
    //  -fx-font-size: $fontSizeh5;
    //
    //  -jfx-focus-color: $corJFX-Focus;
    //  -jfx-unfocus-color: $corJFX-Unforcus;
    //  -jfx-label-float: true;
    //}

    //.jfx-text-field {
    //  -fx-font-family: sans-serif;
    //  -fx-font-style: normal;
    //  -fx-text-fill: $sisColor_black;
    //  -fx-font-size: $fontSizeh5;
    //
    //  -jfx-focus-color: $corJFX-Focus;
    //  -jfx-unfocus-color: $corJFX-Unforcus;
    //  -jfx-label-float: true;
    //}
  }

  .button-bar {
    -fx-background-color: $sisColor_transparent;
  }

  .yes_no {
    -fx-pref-width: $sisWidthDialogPane_YES_NO;
    -fx-pref-height: $sisHeightDialogPane_YES_NO;
    -fx-background-image: url($painelDialogPane_YES_NO);
  }

  .label {
    &.progress-bar {
      -fx-text-fill: $corPricipal;
      -fx-opacity: 0.5;
      -fx-font-size: $fontSizeh3;
      -fx-font-weight: bold;
    }
  }

}

