.dialog-pane {
  -fx-pref-width: $sisWidthDialogPane;
  -fx-pref-height: $sisHeightDialogPane;
  -fx-background-color: $sisColor_transparent;
  -fx-background-image: url($painelDialogPane);

  .header-panel {
    -fx-background-color: $sisColor_transparent;
    .label {
      -fx-text-fill: $sisColor_white;
      -fx-font-size: $fontSizeh4;
      -fx-font-weight: bold;
      -fx-font-style: italic;
    }
  }
  .content {
    &.label {
      -fx-text-fill: $sisColor_black;
      -fx-font-size: $fontSizeh5;
      -fx-font-weight: bold;
    }

  }

  .button-bar {
    -fx-background-color: $sisColor_transparent;
  }

  .yes_no {
    -fx-pref-width: $sisWidthDialogPane_YES_NO;
    -fx-pref-height: $sisHeightDialogPane_YES_NO;
    -fx-background-image: url($painelDialogPane_YES_NO);
  }
}

.progress-bar-transparent {
  //-fx-pref-height: ($sisHeightDialogPane_Loading + 200);
  //-fx-pref-width: ($sisWidthDialogPane_Loading + 200);
  -fx-pref-height: $sisHeightDialogPane_Loading;
  -fx-pref-width: $sisWidthDialogPane_Loading;

  .progress-bar-loading {
    -fx-pref-width: $sisWidthDialogPane_Loading;
    -fx-pref-height: $sisHeightDialogPane_Loading;
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
  }

  .progress-bar-msg {
    -fx-alignment: center-left;
    -fx-pref-width: ($sisWidthDialogPane_Loading - 30);
    -fx-padding: 0 15;
    -fx-text-fill: $corPricipal;
    -fx-opacity: 0.8;
    -fx-font-size: $fontSizeh3;
    -fx-font-weight: bold;
  }

  .progress-bar {
    -fx-pref-width: $sisWidthDialogPane_Loading;
    -fx-padding: 5 15;
  }

}
