
.list-view {
  -fx-background-color: -fx-box-border, -fx-control-inner-background;
  &:focused {
    -fx-border-color: $corPricipal;
  }

  .list-cell{
    -fx-background-color: -fx-control-inner-background;
    &:odd {
      -fx-background-color: derive(-fx-control-inner-background, -12%);
    }
    &:filled:selected {
      -fx-background-color: -fx-selection-bar;
      -fx-text-fill: -fx-selection-bar-text;
      &:hover{
        -fx-background-color: -fx-selection-bar;
        -fx-text-fill: -fx-selection-bar-text;
      }
    }
    &:filled:hover {
      -fx-background-color: -fx-cell-hover-color;
      -fx-text-fill: -fx-text-inner-color;
    }
  }
}

