.progress-bar {
  > .track {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: $corPricipal;
  }
}

.progress-indicator {
  > .track {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
  }
}