.jfx-tool-bar {
  /*-fx-background-color: #0091ff;*/
  -fx-alignment: center;
}

.jfx-tool-bar {

  &.viewPrincipal_StatusBarLeft {
    -fx-padding: 2px 10px;
    -fx-alignment: center-left;
    -fx-background-color: $sisColor_transparent;
    -fx-font-family: $fontFamily;
    -fx-text-fill: $sisColor_black;
    -fx-font-size: $fontSizeh5;
  }

  &.viewPrincipal_StatusBarCenter {
    -fx-padding: 0px 20px;
    -fx-alignment: center;
    -fx-background-color: $sisColor_transparent;
    -fx-font-family: $fontFamily;
    -fx-text-fill: $sisColor_black;
    -fx-font-size: $fontSizeh5;
  }

  &.viewPrincipal_StatusBarRight {
    -fx-padding: 0px 20px;
    -fx-alignment: center-right;
    -fx-background-color: $sisColor_transparent;
    -fx-font-family: $fontFamily;
    -fx-text-fill: $sisColor_black;
    -fx-font-size: $fontSizeh6;
  }
}
